.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &_table {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100vh;

    &_scroll {
      overflow-y: scroll;
    }
  }
}